* {
	box-sizing: 0;
}
body{
	padding: 0;
	background-image: url('images/airbnb.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
}

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}

.headerbckg{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
	
}

.imghead {
	width: 100%;
	height: 100vh;
	padding:0;
	margin:0;
	/*margin: 0px auto;*/
	background-image: url('images/airbnb.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	
}

.wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.menu{
	padding-top: 60px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.menu nav {
	display: flex;
}


.logo{
	
	width: 80px;
	height: 60px;	
}


.form{
	display:flex;
	width: 400px;
	position: absolute;
	top: 100px;
	margin-right: 500px;
	padding: 4em;
	border-radius: 5px;
	/*display: block;*/
	background-color: #e6e0df;
	justify-content: flex-start;

}

.custom select{
	display: none;
}

.form p{
	display: table-row;
	
}

input{
	display:flex;
	flex-wrap: 
	j
}